# Server
PORT=8080

# Database
GOWORKOUT_DB_HOST=localhost
GOWORKOUT_DB_PORT=5432
GOWORKOUT_DB_DATABASE=goworkout
GOWORKOUT_DB_USERNAME=postgres
GOWORKOUT_DB_PASSWORD=postgres
GOWORKOUT_DB_SCHEMA=public
